name: KhosroSignalAnalyzerBot

on:
  schedule:
    # اجرا در دقیقه 30 از ساعت‌های 9 تا 22 (یعنی 9:30 تا 22:30)
    - cron: "30 9-22 * * *"
  workflow_dispatch:         # امکان اجرای دستی هم داشته باشد

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run bot
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: |
          python bot.py
